body {
   background-image: url("../img/gait.png");
   background-color: #cccccc;
}
.jumbotron{
  background: url("../img/ocean.jpeg")top center;
  background-size: control;
  margin-top: 1em;
  padding top: 3em;
  padding bottom: 3em;
  color: brown;
  text-align: center;
  font-style: bold;
}

.well{
  margin-left: 3em;
  margin-right: 3em;
  background-color: #5F9EA0;
  font-size: 1.5em;
  color: #F0FFFF;
  font-style: normal;
}

#test{
  border: #000 1px;
  padding: 10px 40px 40px 40px;
}

p {
height: 75%;
width: 75%;
}

input#submit {
color: #444444;
font-style: bold;
text-shadow: 0px 1px 1px #ffffff;
border-bottom: 2px solid #b2b2b2;
background-color: #b9e4e3;
}

input#submit:hover {
color: #333333;
border: 1px solid #a4a4a4;
border-top: 2px solid #b2b2b2;
}
