img {
  display: none;
}
/* this is a div: how do format a div? */
#test{
  border: #000 1px;
  padding: 10px 40px 40px 40px;
}
div.box {
height: 300px;
width: 300px;
background-color: #bbbbaa;}
p {
height: 75%;
width: 75%;
background-color: #0088dd;}
